:root{
    --verde: #32CD32;
    --preto: #141414;
    --cinza: #808080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/img/img_fundo.jpeg);
}

header{
    background: #141414;
    color: #32CD32;
    height: 50px;
}

header nav a{
    text-decoration: none;
    color:var(--verde);
    margin-right: 10px;
    transition: 0.5s;
}

header nav a:hover{
    color:white;
}

.Home{
    color: rgba(221, 245, 7, 0.726);
}

.contato{
    background-color:var(--preto);
    color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding-right: 20px;

    /*para colar o footer em */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contato a{
    color: var(--verde);
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
    margin: 5px;
}
.contato a:hover{
    color:white
}

.contato a i{
    margin: 5px;
}

main div{
    margin: 10px;
    padding: 20px;
}

.skills{
    background:var(--preto);
    border: 1px solid black;
    
    margin: 5px;

    position: fixed;
    bottom: 10%;
    width: 100%;
}

.skills h3{
    text-align: center;
    margin-top: 5;
    color: var(--verde);
}

.item img{
    height: 170px;
}